.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    .avatar {
        border: solid;
        border-color: $DPrimaryColor;
        border-width: 5px;
        border-radius: 50%;
        width:60%;
        height:60%;
        min-width: 70px;
        min-height: 70px;
        background-size: cover;
    }
}
.avatar-container {
    .avatar[data-entityType="cause"] {
        border-color: $CPrimaryColor;
    }
}
.avatar-container {
    .avatar[data-entityType="donator"] {
        border-color: $DPrimaryColor;
    }
}