html, body, #app {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

.content-container {
  padding-bottom: 40px;
  background-color: $DDarkBackground;
  min-height: 100vh;
  height: 100%;
  color: #fff; // was this so hard ?!
}

.basic-container{
  height: 100%;
}
.container{
  width:100%;
  min-height:100%;
  min-height: 90vh;
  padding-top: 80px;
  padding-bottom: 40px;
  padding-left: 320px;
  }

.content-container[data-entityType="donator"] {
  background-color: $DDarkBackground;
}
.content-container[data-entityType="cause"] {
  background-color: $CDarkBackground;
}

// deprecated
.card-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:10px;
  height: 100%;
  width: 100%;
}

.ui.card.custom-card-cause {
  box-shadow: 0 1px 3px 0 $CPrimaryCardColor, 0 0 0 1px $CPrimaryCardColor;
  background-color: $CPrimaryCardColor;
}

.ui.card.custom-card-donor {
  box-shadow: 0 1px 3px 0 $DPrimaryCardColor, 0 0 0 1px $DPrimaryCardColor;
  background-color: $DPrimaryCardColor;
}