//donator colors

// $DPrimaryColor: #4ecdc4;
// $DPrimaryBackground: #13232f;

// //cause colors
// $CPrimaryColor: #d92841;//#59bb82; //#c2e812;
// $CPrimaryBackground: #380007;

//donator colors

$DPrimaryColor:#4dcc58;
$DPrimaryBackground: #132f17;
$DDarkBackground: #0C1E0E;
$DLightBackground: #1d4822;
$DNavigationSelected: #36803e;
$DPrimaryCardColor: #67b36e;
//cause colors
$CPrimaryColor: #FFDF00;//#59bb82; //#c2e812;
$CPrimaryBackground: #25260f;
$CDarkBackground: #1d1d10;
$CLightBackground: #DAA520;//#cccc00;
$CNavigationSelected: #fec60d;
$CPrimaryCardColor: #e6cd2e;

